---
import ExperienceItem from "../ExperienceItem.tsx";
import GradientText from "../GradientText.astro";
import Section from "../Section.astro";
---

<Section id="experience" className="flex items-center flex-col gap-10">
  <GradientText text="Experiencia" />

  <ul class="flex flex-col gap-5 w-full">
    <ExperienceItem
      client:visible
      date="Sep-2023 a Jun-2024"
      role="Main Developer"
      description="Formé parte del equipo de desarrollo Shirkasoft donde ocupé el puesto de Desarrollador en la creación de aplicaciones web y servicios para Empresas de Importaciones y Agencias de Vuelos."
    />
    <ExperienceItem
      client:visible
      date="Feb-2023"
      role="Freelance"
      description="Un Portafolio para el Estudio de Fotografía Studio20."
      className="self-center"
    />
    <ExperienceItem
      client:visible
      date="Nov-2021 a Ene-2023"
      role="Autodidacta"
      description="Etapa de mi proceso educativo. Desarrollé varios proyectos personales y educativos."
      className="self-end"
    />
  </ul>
</Section>
