---
import GradientText from "../GradientText.astro";
import Section from "../Section.astro";
---

<Section className="flex flex-col gap-10 justify-center items-center">
  <GradientText text="Proyectos"/>

  
</Section>