---
const { text } = Astro.props;
---

<h2 class="text-white font-extrabold text-4xl title">
  { text }
</h2>

<style>
  .title {
    background: linear-gradient(to left, #eee 10%, #c87137 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>