---
const { href, className, download } = Astro.props;
---

<a
  href={href}
  class={`rounded-xl border border-[#c87137] px-2 py-1 text-[#c87137] transition-all ${className} font-semibold`}
  target="_blank"
  download={download || false}
>
  <slot />
</a>
